<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmsmartcity.mapper.TsFaultMapper">
  <resultMap id="BaseResultMap" type="com.xmsmartcity.pojo.TsFault">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fault_code" jdbcType="VARCHAR" property="faultCode" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="remark_reason" jdbcType="VARCHAR" property="remarkReason" />
    <result column="fault_type" jdbcType="VARCHAR" property="faultType" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="equip_id" jdbcType="INTEGER" property="equipId" />
    <result column="fault_user_id" jdbcType="INTEGER" property="faultUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fault_code, company_id, project_id, remark_reason, fault_type, createtime, equip_id, 
    fault_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_s_fault
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_s_fault
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmsmartcity.pojo.TsFault">
    insert into t_s_fault (id, fault_code, company_id, 
      project_id, remark_reason, fault_type, 
      createtime, equip_id, fault_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{faultCode,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{remarkReason,jdbcType=VARCHAR}, #{faultType,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{equipId,jdbcType=INTEGER}, #{faultUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xmsmartcity.pojo.TsFault">
    insert into t_s_fault
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="faultCode != null">
        fault_code,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="remarkReason != null">
        remark_reason,
      </if>
      <if test="faultType != null">
        fault_type,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="equipId != null">
        equip_id,
      </if>
      <if test="faultUserId != null">
        fault_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultCode != null">
        #{faultCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="remarkReason != null">
        #{remarkReason,jdbcType=VARCHAR},
      </if>
      <if test="faultType != null">
        #{faultType,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipId != null">
        #{equipId,jdbcType=INTEGER},
      </if>
      <if test="faultUserId != null">
        #{faultUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmsmartcity.pojo.TsFault">
    update t_s_fault
    <set>
      <if test="faultCode != null">
        fault_code = #{faultCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="remarkReason != null">
        remark_reason = #{remarkReason,jdbcType=VARCHAR},
      </if>
      <if test="faultType != null">
        fault_type = #{faultType,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipId != null">
        equip_id = #{equipId,jdbcType=INTEGER},
      </if>
      <if test="faultUserId != null">
        fault_user_id = #{faultUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmsmartcity.pojo.TsFault">
    update t_s_fault
    set fault_code = #{faultCode,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      remark_reason = #{remarkReason,jdbcType=VARCHAR},
      fault_type = #{faultType,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      equip_id = #{equipId,jdbcType=INTEGER},
      fault_user_id = #{faultUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询报障单列表 -->
  <select id="selectList" resultType="map">
    SELECT
        f.fault_code as faultCode,f.fault_type as faultType,f.createtime,f.id as faultId,f.remark_reason remarkReason
        ,c.`name` as companyId,p.`name` as projectName,u.username,IFNULL(e.equip_name,'') equipName
    FROM
        t_s_fault f
    INNER JOIN t_c_company c ON f.company_id = c.id
    INNER JOIN t_p_project p ON f.project_id = p.id
    INNER JOIN t_s_base_user u ON f.fault_user_id = u.id
    LEFT JOIN t_e_equip e ON f.equip_id = e.id
  </select>

</mapper>