#example{
    width:100%;
    height:100%;
    position: absolute;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
}
.click{
    width:8%;
    min-width: 20px;
    float: right;
    position: relative;
    top:50px;
    right: 10%;
}
.table{
    width:100%;
    height: auto;
    background: #2a85a0;
    float: left;
    position: absolute;
}
table thead{
    width:100%;
    background: #ffe8a1;
    height: auto;
}
table th{
    text-align: center;
}
thead tr{
    height: 45px;
    border-top:1px solid #666666;
    line-height: 45px;
}
thead tr:nth-last-child{
    border-bottom:1px solid #666666;
}
table td{
    width: 25%;
    text-align: center;
}
.create{
    width: 26%;
    float: right;
    position: relative;
    margin-right: 35%;
    min-width: 80px;
}
label{
    width:100%;
}
label span{
    float: left;
    width: 20%;
    min-width: 60px;
    margin-top: 8px;
}
.form-control{
    float: left;
    width:75%;
}
.table tbody .button{
    float: right;
    margin-right: 35%;
    border-top: none;
    margin-top: 2px;
}
.delete{
    float: left;
}
.edit{
    float: left;
}
.qu{
    float: left;
}
.hed{
    border-bottom: none;
}
tbody .list{
    width:100%;
}
